<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">

	<head th:replace="headers::headers">
		<div th:include="title::title"></div>
		<title>Company Profile</title>
		<link rel="stylesheet" th:href="@{/css/companyprofile.css}">
		<!-- Assuming you have a CSS file in styles folder -->
		<!--<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	-->
		<!-- Custom styles -->
	</head>

<body>
	<div th:replace="Company/companymenu::companymenu"></div>
	<div class="container">
		<div class="profile-card">
			
			<div class="company-details text-center">
				
				<center>
				<div>
        <img th:src="@{http://localhost:8091/AspireHub/uploads/{logo}(logo=${company1.logo})}" alt="Profile Picture"
            class="rounded-pill img-thumbnail" style="max-width: 300px;">
    </div>
    </center>
  <center>
    <div>
        <a th:href="@{/editCompanyLogo}">
            <i class="fas fa-edit" style="margin-top: 10px;"></i>
        </a>
    </div>
    </center>
</div>

			<div class="company-info">
				<h2 class="text-center text-dark">Company Profile</h2>
				&nbsp;
				<p><strong>Company Name:</strong> <span th:text="${session.company.companyName}"></span></p>
				<p><strong>Company ID:</strong> <span th:text="${session.company.companyId}"></span></p>
				<!--<p><strong>Company Name:</strong> <span th:text="${company.companyName}"></span></p>-->
				<p><strong>Company Email:</strong> <span th:text="${session.company.email}"></span></p>
				<p><strong>City:</strong> <span th:text="${session.company.city}"></span></p>
				<p><strong>State:</strong> <span th:text="${session.company.state}"></span></p>
				<p><strong>Company Level:</strong> <span th:text="${session.company.companyLevel}"></span></p>
				<p><strong>Company Location:</strong> <span th:text="${session.company.location}"></span></p>
				<p><strong>Contact:</strong> <span th:text="${session.company.mobile}"></span></p>
				<p><strong>Registration Date:</strong> <span th:text="${session.company.regDate}"></span></p>
				<p><strong>Password:</strong> <span th:text="${session.company.password}"></span></p>
				<p><strong>URL:</strong> <span th:text="${session.company.url}"></span></p>
				
				
				<div class="text-center">
            <a th:href="@{/editCompanyProfile/{companyId}(companyId=${session.company.companyId})}" class="btn btn-primary">Edit Profile</a>
        </div>
			</div>
			
			 
		</div>
	</div>

	

</body>

</html>